html, body{
    //height: 100%;
}
.container-fluid{
    //height: 100%;
}
.row{
    height: 100%
}

.left, .right{
    height: 85%
}
.header{
	height: 20%;
}

.clean{
    min-height: 50px;
}

.map,.info{
	height: 80%;
}

footer.navbar{
    margin-bottom: 0px;
}


/*
@media screen and (min-width: 845px) and (max-width: 950px) {
    svg{
        width: 700px;
        height: 380px;
    }
}

@media screen and (max-width: 844px) {
    svg{
        width: 600px;
        height: 330px;
    }
}


@media screen and (min-width: 1001px) {
    svg{
        width: 900px;
        height: 510px;
    }
}
*/

