.row{
    height: 100%
}

.clean{
    min-height: 50px;
}

.map,.info{
	height: 80%;
}




/*
@media screen and (min-width: 845px) and (max-width: 950px) {
    svg{
        width: 700px;
        height: 380px;
    }
}

@media screen and (max-width: 844px) {
    svg{
        width: 600px;
        height: 330px;
    }
}


@media screen and (min-width: 1001px) {
    svg{
        width: 900px;
        height: 510px;
    }
}
*/

